.navbar-brand {
  font-size: 1.75rem;
}
.form-group {
  margin-bottom: 1rem;
}
.link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
